parameters:
  level: 5
  paths:
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  earlyTerminatingMethodCalls:
    PHPUnit\Framework\Constraint\Constraint:
      - fail
  ignoreErrors:
    - message: "#Call to an undefined static method#"
      paths:
        - src/Modules/WithContainer.php